.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;

    h1 {
      margin: 0;
      font-size: 3rem;
    }
  }

  .panel-container {
    height: 85%;
    display: flex;
    width: 100%;
    border-radius: 15px;

    .left-panel, .main-panel {
      height: 100%;
      padding: 30px;
      overflow: auto;
    }

    .left-panel {
      border-radius: 15px;
      width: 20%;
      min-width: 350px;
      color: #ffffff;
    }
  }
}

.navBar {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.headerItemRight {
  margin-left: auto;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
}

.CPSC100 {
  background-image: linear-gradient(red, yellow);
}
.CPSC103 {
  background-image: linear-gradient(red, yellow);
}
.CPSC107 {
  background-image: linear-gradient(red, yellow);
}
.CPSC110 {
  background-image: linear-gradient(red, yellow);
}
.CPSC121 {
  background-image: linear-gradient(red, yellow);
}
.CPSC203{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}
.CPSC210{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}
.CPSC213{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}
.CPSC221{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}
.CPSC259{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}
.CPSC298{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}
.CPSC302{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC303{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC304{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC310{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC311{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC312{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC313{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC314{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC317{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC319{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC320{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC322{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC330{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC340{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC344{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC349{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC368{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC402{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC404{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC406{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC410{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC411{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC416{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC418{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC420{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC421{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC422{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC424{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC425{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC430{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC440{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC444{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC445{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC447{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC449{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC491{
  background-image: linear-gradient(#000000, #3ccbe7);
}

.ECON101{

  background-image: linear-gradient(#F0C27B, #4B1248);

}

.ECON102{
  background-image: linear-gradient(#FBD3E9, #BB377D);

}

.ECON355{
  background-image: linear-gradient(#606c88, #3f4c6b);


}
