@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

$background-color: #2a2a2a;
$background-color-dark: #222222;
$background-color-darkest: #1a1a1a;
$blue-accent: #41b3c0;
$pink-accent: #6d39d6;

* {
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#circle1 {
  position: absolute;
  top: -50px;
  right: -50px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: ($background-color, 0.8);
  border-style: solid;
  border-width: 2px;
  border-color: $blue-accent;
}

#circle2 {
  position: absolute;
  top: -150px;
  right: 100px;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: rgba($blue-accent, 0.3);
}

#circle3 {
  position: absolute;
  top: 100px;
  right: 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: rgba($pink-accent, 0.3);
}

#circle4 {
  position: absolute;
  top: -20px;
  left: -50px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: rgba($background-color-darkest, 0.3);
}

#circle5 {
  position: absolute;
  top: -100px;
  left: 20px;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: rgba($background-color-darkest, 0.3);
  z-index: -1;
}

#circle6 {
  position: absolute;
  bottom: -100px;
  left: 300px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: rgba($blue-accent, 0.3);
  z-index: -1;
}

#circle7 {
  position: absolute;
  bottom: 30px;
  left: 150px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: rgba($pink-accent, 0.3);
  z-index: -1;
}

#circle8 {
  position: absolute;
  top: 600px;
  left: 10px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px solid $pink-accent;
  background: rgba($background-color, 0.3);
  z-index: -1;
}

#circle9 {
  position: absolute;
  bottom: 220px;
  right: -50px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: rgba($background-color-darkest, 0.3);
  z-index: -2;
}

#circle10 {
  position: absolute;
  bottom: 150px;
  right: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: rgba($background-color-darkest, 0.3);
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  z-index: 3;
}

#title {
  margin: 0;
  font-size: 4rem;
  background-image: linear-gradient(45deg, $pink-accent, $blue-accent);
  display: inline-block;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.panel-container {
  height: 85%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-panel, .main-panel {
  height: 100%;
  padding: 30px;
}

.main-panel {
  background-color: rgba($background-color-dark, 0.8);
  width: 90%;
  min-width: 450px;
}

.left-panel {
  background: rgba($background-color-darkest, 0.8);
  width: 10%;
  margin-right: 20px;
  min-width: 300px;
  color: #ffffff;
}


.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.headerItemRight {
  margin-left: auto;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
}

.CPSC100 {
  background-image: linear-gradient(red, yellow);
}
.CPSC103 {
  background-image: linear-gradient(red, yellow);
}
.CPSC107 {
  background-image: linear-gradient(red, yellow);
}
.CPSC110 {
  background-image: linear-gradient(red, yellow);
}
.CPSC121 {
  background-image: linear-gradient(red, yellow);
}
.CPSC203{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}
.CPSC210{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}
.CPSC213{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}
.CPSC221{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}
.CPSC259{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}
.CPSC298{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}
.CPSC302{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC303{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC304{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC310{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC311{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC312{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC313{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC314{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC317{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC319{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC320{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC322{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC330{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC340{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC344{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC349{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC368{
  background-image: linear-gradient(#000000, #e74c3c);
}
.CPSC402{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC404{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC406{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC410{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC411{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC416{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC418{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC420{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC421{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC422{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC424{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC425{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC430{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC440{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC444{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC445{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC447{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC449{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.CPSC491{
  background-image: linear-gradient(#000000, #3ccbe7);
}
.ECON101{

  background-image: linear-gradient(#F0C27B, #4B1248);

}

.ECON102{
  background-image: linear-gradient(#FBD3E9, #BB377D);

}

.ECON355{
  background-image: linear-gradient(#606c88, #3f4c6b);


}

#name-note {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#name-input {
  background-color: rgba($background-color, 0.3);
  color: white;
  margin-bottom: 20px;
  border: 2px white;
  border-style: none none solid none;
  font-size: 16px;
  padding: 5px;
}

#name-input:focus {
  outline: none;
}

h2 {
  margin: 5px;
}

#category-add {
  width: 400px;
}

.profile {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  background: $background-color-darkest;
  border-radius: 15px;
  width: 95%;
  display: inline-block;
  display: flex;
  flex-direction: row;
}

.name {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  font-size: 40px;
  background-image: linear-gradient(45deg, $pink-accent, $blue-accent);
  display: inline-block;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.profile-tab-bar{
  margin: auto;
  margin-top: 10%;
  width: 80%;
  padding: 10px;
}

.feed-container {
  position: absolute;
  margin: auto;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  background: $background-color-darkest;
  border-radius: 15px;
}

.note {
  margin: 30px;
  background-image: linear-gradient(75deg, rgba($pink-accent, 0.4), rgba($blue-accent, 0.4));
  border-radius: 15px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(75deg, rgba($background-color-darkest, 0.4),  rgba($pink-accent, 0.4), rgba($background-color-darkest, 0.4), rgba($blue-accent, 0.4), rgba($background-color-darkest, 0.4));
  border-radius: 15px;
  padding: 10px;
}