@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');

$background-color: #2a2a2a;
$background-color-dark: #222222;
$background-color-darkest: #111111;
$blue-accent: #41b3c0;

* {
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;
  background: $background-color;
  padding: 80px;
  color: white;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

#root {
  height: 100%;
}
